#ignore output results, for now
/output/output.txt
!/output/.gitkeep
output.txt

#ignore binaries
/src/bfr_serial

#ignore test plots
/utils/test*

#ignore hpc output files
bfr_serial.sh.*

#ignore data
/data

#ignore cluster result files
bfr_parallel.sh.*
bfr_serial.sh.*